In aligning the usability test we followed the guidelines of Steve Krug and Jakob Nielsen.
We had five test persons. They tested the general application and specific questions.
The application was built as a high fidelity prototype in the program justinmind. This allowed a cross platform test as well as a simple exportability.


In the usability test, the five people each worked about 30 minutes with the application in separate sessions. We recorded the audio what the subject said. Previously, we asked the subject to "think aloud". That is, she should comment on each of her actions, formulate her expectations, and express her feelings. We observed the person and asked if we thought it necessary.
At the end the participants were asked for their opinion about the site. They should state their overall impression with a grade from 1 to 6.

Below is a sorted summary of the results.
It describes the areas in which noticed something. The observations are numbered. They are frequency and weighted (from 1 = rare or unimportant to 5 = very common or severe) to assess the importance of correcting the underlying problem.
The frequency indicates how often this problem is likely to occur (not how many times the subjects encountered it).
Then the issues were picked up and fixed in the next development round. Serious problems that occur frequently are eliminated first.
To remedy the problems had to be weighed with how much effort the elimination is connected.

to be contiued
